.ualp-col1,
.ualp-nav-link {
    display: flex;
    align-items: center;
}

.iti.iti--allow-dropdown.iti--show-flags {
    width: 100%;
}

.ualp-col1 {
    gap: 2rem;
}

.ualp-nav-link {
    gap: 1rem;
}

.ualp-form-wrapper {
    position: fixed;
    left: 55%;
    width: 30%;
    border-radius: 10px;
    padding: 20px 20px;
}

#ualp-form-consent {
    font-size: 9px;
}

.ualp-criteria-items {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
}

.ualp-criteria-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
}

.ualp-criteria-item {
    flex-direction: column;
}

.ualp-discover-bloc {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 60px;
}

/** Areas activity */
.areas-activity-title {
    margin: 1.5rem 0;
}

.areas-activity-items {
    display: grid;
    grid-template: auto / 25% 25% 25% 25%;
    gap: 1rem;
    align-items: center;

}

.areas-activity-card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
}

/** End Areas activity */

/** Fist Three Years */
.first-three-years-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-three-years-card {
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 20px 20px 0px;
    padding: 30px;
    padding-left: 60px;
    width: 70%;
    margin-left: auto;
}

.first-three-years-col-1 {
    background: var(--ualp-clr-orange);
    border-radius: 5.1282px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.first-three-years-title>span {
    font-family: bbn;

}

/** End Fist Three Years */

/** Jobs */
.jobs-wrapper {
    padding: 60px 0 180px 0;
}

.jobs-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/** End Jobs */

/** Cursus */
.cursus-wrapper {
    padding: 40px 0 30px 0;
}

.cursus {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/** Integer */
.integer-wrapper {
    background-color: var(--ualp-clr-orange);
    padding: 50px 0;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.integer-logo-wrapper {
    border: 2px solid;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.interger-bar {
    height: 40px;
    width: 4px;
    margin: 2px 0;
}

.integer-logo-list,
.integer-content,
.integer-description-wrapper,
.integer-descriptions {
    display: flex;
}

.integer-description-wrapper {
    gap: 1.2rem;
}

.integer-logo-list {
    flex-direction: column;
    align-items: center;
}

.integer-content {
    align-items: flex-start;
    margin-top: 40px;
}

.interger-icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.integer-descriptions {
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
    margin: 1rem;
}

/* Our campus */
.ours-campus-wrapper {
    padding: 50px 0;
}

.our-campus-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.our-campus-city {
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 80%;
}

.ours-campus-items {
    margin-top: 20px;
}

/** Footer */

.ualp-social-network-link {
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}